{% extends 'base.html' %}

{% block css %}
<style>
    
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig1|safe}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig2|safe}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig3|safe}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig4|safe}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig5|safe}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            {{fig6|safe}}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

</script>

{% endblock %}